.header-jugadores{
    text-align: center;
    margin: 2rem;
}
.btn-volver-inicio{
    margin: 2rem;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.tabla-jugadores{
    margin: 2rem;
}
.tabla-filtro{
    margin: 2rem;
}
button{
    margin: 2px;
}