<div class="btn-volver-inicio" >
  <button (click)="onVolverInicio()" type="button" class="btn">
    <img src="/assets/icons/arrow-back.svg" width="32" height="32">
  </button>
</div>
<!-- <label>Filtro: </label> -->
<form [formGroup]="filterForm" (ngSubmit)="filter()">
  <div class="tabla-filtro fragmento1">
    <h1 class="text-center">Jugadores</h1>
    <div class="row">
      <div class="col-2 d-flex align-items-center">
        <label class="me-3 b">Filtro:</label>
        <input
          formControlName="nombre"
          class="form-control"
          type="text"
          placeholder="Ingrese el nombre"
        />
      </div>

      <div class="col-2 d-flex align-items-center">
        <select
          formControlName="facultad"
          class="form-select"
          id="facultad"
          name="facultad"
          required
        >
          <option [ngValue]="null" [disabled]="true" [hidden]="true">Elegir Facultad</option>
          <option *ngFor="let facultad of facultades" [ngValue]="facultad">
            {{ facultad.nombre }}
          </option>
        </select>
      </div>

      <div class="col-2 d-flex align-items-center">
        <select
          formControlName="disciplina"
          class="form-select"
          id="disciplina"
          name="disciplina"
          required
        >
          <option [ngValue]="null" [disabled]="true" [hidden]="true">Elegir Disciplina</option>
          <option *ngFor="let disciplina of disciplinas" [ngValue]="disciplina">
            {{ disciplina.nombre }}
          </option>
        </select>
      </div>

      <div class="col-2 d-flex align-items-center">
        <select
          formControlName="nacionalidad"
          class="form-select"
          id="nacionalidad"
          name="nacionalidad"
          required
        >
          <option [ngValue]="null" [disabled]="true" [hidden]="true">Elegir Nacionalidad</option>
          <option
            *ngFor="let nacionalidad of nacionalidades"
            [ngValue]="nacionalidad"
          >
            {{ nacionalidad.nombre }}
          </option>
        </select>
      </div>

      <div class="col-1 d-flex align-items-center">
        <button type="submit" class="btn btn-success" id="btnFiltrar">
          Filtrar
        </button>
        <button
          (click)="cleanFilters()"
          type="button"
          class="btn btn-danger"
          id="btnBorrar"
        >
          Borrar
        </button>
      </div>
    </div>
  </div>
</form>
<div class="tabla-jugadores">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col" colspan="2">Nombre y Apellido</th>
        <th scope="col">Legajo</th>
        <th scope="col">Facultad</th>
        <th scope="col">Disciplina</th>
        <th scope="col">Nacionalidad</th>
        <th scope="col">Rol</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let jugador of jugadores">
        <td colspan="2">
          {{ jugador.nombre | titlecase
          }}{{ " " + jugador.apellido | titlecase }}
        </td>
        <td>{{ jugador.legajo }}</td>
        <td>{{ jugador.facultad.codigo | uppercase }}</td>
        <td>{{ jugador.disciplina.nombre | titlecase }}</td>
        <td>{{ jugador.nacionalidad.nombre | titlecase }}</td>
        <td>{{ jugador.rol.nombre | titlecase }}</td>
        <td>
          <button class="btn btn-warning" (click)="editar(jugador.id)">
            Editar
          </button>
          <button
            class="btn btn-danger"
            [swal]="{
              title: '¿Desea eliminar el jugador?',
              showCancelButton: true,
              cancelButtonText: 'Cancelar',
              confirmButtonText: 'Confirmar'
            }"
            (confirm)="this.eliminar(jugador.id)"
          >
            Eliminar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<app-paginator
  [actualPage]="this.actualPage"
  [totalPages]="this.totalPages"
  (changePage)="this.changePage($event)"
>  
</app-paginator>
