.header-jugadores{
    text-align: center;
    margin: 2rem;
}
.btn-volver-inicio{
    margin: 2rem;
}
.tabla-jugadores{
    margin: 2rem;
}
.tabla-filtro{
    margin: 2rem;
}
button{
    margin: 2px;
}
