<div class="btn-volver-inicio" >
    <button (click)="onVolverInicio()" type="button" class="btn">
      <img src="/assets/icons/arrow-back.svg" width="32" height="32">
    </button>
</div>
<div class="fondoGrande">
    <div class="container fondo">
        <h2>Nueva Nacionalidad</h2>
        <form [formGroup]='registroForm' (ngSubmit)="onSubmit()">
            <div class="input-group mb-3">
                <span class="input-group-text" id="nombre">Nombre</span>
                <input formControlName="nombre" class="form-control" type="text" name="nombre" id="nombrenacionalidad"
                    minlength="2">
            </div>
            <button type="submit"  class="btn btn-light btn-outline-success">Guardar</button>
        </form>
    </div>
</div>