<div class="btn-volver-inicio" >
    <button (click)="onVolverInicio()" type="button" class="btn">
      <img src="/assets/icons/arrow-back.svg" width="32" height="32">
    </button>
</div>
<div class="fondoGrande">
    <div class="container fondo">
        <h2>Nueva Nacionalidad</h2>
        <form [formGroup]='registroForm' (ngSubmit)="onSubmit()">
            <div class="input-group mb-3">
                <span class="input-group-text" id="nombre">Nombre</span>
                <input formControlName="nombre" class="form-control" type="text" name="nombre" id="nombrenacionalidad"
                    minlength="2">
                <div class="form-error">
                    <label
                        class="form-error__label"
                        *ngIf="registroForm.get('nombre')?.invalid && (registroForm.get('nombre')?.dirty || registroForm.get('nombre')?.touched)">
                        El nombre es invalido, ingresar mas de 3 caracteres.
                    </label>
                    </div>
            </div>
            <button 
                type="submit" 
                class="btn btn-light btn-outline-success"
                [swal]="{
                    title: '¿Desea guardar la nacionalidad?',
                    showCancelButton: true,
                    cancelButtonText: 'Cancelar',
                    confirmButtonText: 'Confirmar'
                  }"
                  [disabled]="!this.registroForm.valid"
                  (confirm)="this.onSubmit()">Guardar
            </button>
        </form>
    </div>
</div>