<div class="fondoGrande">
    <header>
        <div class="p-5 text-center fondo-header">
            <h1 class="mb-3">Bienvenidos</h1>
            <h4 class="mb-3">Universidad Tecnológica Nacional</h4>
            <button (click)="onNuevoJugadorClick()" type="button" id="btnNuevoJugador" class="btn btn-dark">Nuevo
                Jugador</button>
            <button (click)="onJugadoresClick()" type="button" class="btn btn-dark" id="btnJugadores">Jugadores</button>
            <button (click)="onNuevaDisciplinaClick()" type="button" id="btnNuevaDisciplina" class="btn btn-dark">Nueva
                Disciplina</button>
            <button (click)="onDisciplinasClick()" type="button" class="btn btn-dark"
                id="btnDisciplinas">Disciplinas</button>
            <button (click)="onNuevaNacionalidadClick()" type="button" id="btnNuevaNacionalidad"
                class="btn btn-dark">Nueva Nacionalidad</button>
            <button (click)="onNacionalidadesClick()" type="button" class="btn btn-dark"
                id="btnNacionalidades">Nacionalidades</button>

        </div>
    </header>
    <div id="footer" class="text-center p-4 ft">
        Desarrollo de Aplicaciones Web 2022
    </div>
</div>